
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GAMETESTING</title>
</head>
<body>

<!--h:text="${game.getBoard()[3]}-->
    <H2>TESTING A THING</H2>

        <p class=quotetest th:utext="${question}"></p>
        <p class=quotetest th:utext="${wronganswers.get(0)}"></p>
        <p class=quotetest th:utext="${wronganswers.get(1)}"></p>
        <p class=quotetest th:utext="${wronganswers.get(2)}"></p>
        <p class=quotetest th:utext="${correctanswer}"></p>
        <p class=quotetest th:utext="${swansonism}"></p>
        <img th:src="${gameHint}" height="200" width="200">



</body>
</html>