
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GAMETESTING</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!---->
<div id="stage">
    <div id="container">
        <div id="gameContainer">

            <div id="gameHeader">
                <div class="left questions">
                    <div class="container">
                        <span>
                            <h1 class=quotetest th:utext="${question}"></h1>
                            <p class=quotetest th:utext="${swansonism}"></p>
                        </span>
                    </div>
                </div>
            </div>

            <div id="gameChoices">
                <div class="row" th:each="answer : ${allanswers}">
                    <div class="left half">
                        <div class="container"><button th:utext="${answer}"></button></div>
                    </div>
                </div>
            </div>

            <!--
            <div>
                <img th:src="${gameHint}" height="200" width="200">
            </div>
            -->
        </div>
    </div>
</div>

</body>
</html>